.inline-link {
    position: relative;
    color: #000 !important;
    z-index: 2;

    // Increase specificity to avoid using !important
    &.alternative-focus.alternative-focus:after {
        left: -2px;
        right: -2px;
        bottom: -2px;
    }
}
