.detail-img {
    box-shadow: 0 2px 2px 0 #ddd;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0 0 2rem 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(3rem);

    @media only screen and (max-width: 767px) {
        margin: 1rem auto;
    }

    &.loaded-img {
        opacity: 1;
        transition: all 0.45s ease-in-out;
        transform: translateY(0);
    }

    img {
        max-height: 320px;
        height: auto;
        width: auto;
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }

    p {
        margin: 0.5em 0.75em 0.75em 0.75em;
        font-size: 0.95em;
        text-align: center;
        font-style: italic;
        color: #333;
        font-weight: 400;
    }
}
