.exit-button {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: -65px;
    left: -150px;
    background-color: #fff;
    z-index: 2;
    cursor: pointer;
    padding: 0;
    opacity: 1;
    border-radius: 27px;
    transition: transform 0.45s ease-in-out 0.075s, opacity 0.45s ease-in-out 0.075s;
    box-shadow: 0 2px 2px 0 #ddd;

    @media only screen and (min-width: 950px) {
        left: -155px;
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid #000;
        border-radius: 27px;

        &.alternative-focus:focus {
            border-color: #9EC3FB;

            &:after {
                border-radius: 50px;
                border-color: #000;
            }
        }
    }

    &:not(.hidden) {
        transform: translateX(150px);
    }

    &.hidden {
        opacity: 0;
        transition-delay: 0s;

        &.no-trans {
            transition-duration: 0s;
        }
    }
}
