.slides-holder {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.6s ease-in-out;
    height: 100%;
}

.slider-btns-holder {
    @media (max-width: 767px) {
        display: flex;
        justify-content: center;
    }
}

.swiper {
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.qualification-card {
    padding: 1rem;
    background-color: #fff;
    margin-top: -0.25rem;

    p:last-child {
        margin-bottom: 0;
    }

    p:first-child {
        margin-top: 0;
    }

    @media (max-width: 767px) {
        margin-top: 1rem;
    }
}
