.slide-content {
    position: relative;
    opacity: 0.1;
    transition: opacity 0.3s ease-in-out;

    &.active {
        opacity: 1;
        transition-delay: 0.6s;
        transition-duration: 0.45s;
    }
}

.exp-card {
    padding: 1rem;
    background-color: #fff;
    height: 100%;

    p:last-child {
        margin-bottom: 0.25rem;
    }
}

.exp-header {
    border-bottom: 2px #444 solid;
    padding-bottom: 0.75rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;

    p {
        margin: 0;
        font-size: 0.95rem;
    }

    h3 {
        margin: 0.2rem 0;
        font-size: 1.33rem;
    }
}

.colour-strip {
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;

    &:last-child {
        top: auto;
        bottom: 0;
        height: 1px;
    }
}
