header {
    width: calc(33.3333% - 36px);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 36px 10px 40px auto;

    @media only screen and (max-width: 849px) {
        width: calc(50% - 36px);
    }

    @media only screen and (max-width: 599px) {
        max-width: calc(100% - 40px);
        width: 16.5em;
        margin-right: auto;
    }

    .header-info {
        color: #0D2256;
        margin: 0;
        position: relative;
        top: 0.25em;
        flex-shrink: 0;

        span {
            display: block;

            &:first-child {
                font-size: 1rem;
                font-weight: 400;
                text-transform: uppercase;
            }

            &:last-child {
                font-size: 3.14rem;
                font-weight: bold;
            }
        }
    }
}
