.item-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: -10px -10px 2em -10px;
    padding: 0;
    opacity: 0;

    &.fade-in {
        opacity: 1;
        transition: opacity 0.45s ease-in-out 0.05s;
    }

    @media (max-width: 599px) {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}
