// Container styles
html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: calc(100% - 40px);
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    padding: 0;
    position: relative;

    @media only screen and (max-width: 849px) {
        max-width: 600px;
    }
}

.outer-container {
    overflow-x: hidden;
}

// Classes which may be applied across the app
.alternative-focus:focus {
    // standardise focus
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid #9EC3FB;
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

.screenreader-only {
    position: absolute;
    left: -10000px;
    opacity: 0;
}

.mobile-only {
    display: none;

    @media (max-width: 767px) {
        display: block;
    }
}

.desktop-only {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}
