.item {
    position: relative;
    width: calc(33.3333% - 40px);
    padding-top: calc(33.3333% - 40px);
    margin: 20px;
    list-style: none;
    height: 0;
    box-shadow: 0 2px 10px 0 #ddd;

    &.non-link-item {
        width: 100%;
        height: auto;
        padding-top: 0;
        order: 0 !important;
        margin: 20px 20px 0 20px;

        @media (max-width: 599px) {
            width: calc(100% - 20px);
            margin: 16px auto;
        }

        @media (min-width: 850px) {
            width: calc(66.6666% - 40px);
            margin: 0 20px 20px calc(33.3333% + 20px);
        }

        span {
            display: inline;
        }

        &:after,
        &:before {
            content: "";
            position: absolute;
            border-style: solid;
            z-index: 2;
        }

        &:after {
            right: 0;
            bottom: 0;
            border-width: 0 0 1.25rem 1.25rem;
            border-color: transparent transparent #F4E806 transparent;
        }

        &:before {
            top: 0;
            left: 0;
            border-width: 1.25rem 1.25rem 0 0;
            border-color: #0D2256 transparent transparent transparent;
        }
    }

    .non-link-preview {
        position: static;
        transform: translate(0, 0) rotate(0deg);
        padding: 1rem;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        box-shadow: none;
        line-height: 1.4;
    }

    @media (max-width: 849px) {
        order: -1;

        &:nth-child(n+5) {
            order: 1;
        }
    }

    @media (max-width: 849px) and (min-width: 600px) {
        width: calc(50% - 40px);
        padding-top: calc(50% - 40px);
    }

    @media (max-width: 599px) {
        width: calc(100% - 20px);
        padding-top: calc(100% - 20px);
        margin: 16px auto;
    }

    svg {
        fill: #000;
        position: absolute;
        top: 0.75em;
        left: 0.75em;
    }

    img {
        width: 100%;
    }

    .item-link,
    & > div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;

        &.light-content {
             color: #fff;

             svg {
                fill: #fff;
             }
        }
    }

    .item-link {
        z-index: 1;

        &:hover {
            + div .item-preview {
                transform: translate(0%, 0%) rotate(0deg);
            }
        }
    }
}

.item-preview {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -50%;
    transform: translate(23.5%, 85%) rotate(-45deg);
    transform-origin: 0 50%;
    box-shadow: -4px 0 12px 2px rgba(0,0,0,0.25);
    transition: transform 0.6s ease-in-out;
}

.portfolio-item-text,
.non-link-text {
    .text-head {
        font-weight: bold;
    }
}

.portfolio-item-text {
    text-align: left;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    max-width: 70%;
    color: #222;

    span {
        display: block;
    }

    .light-content &,
    .dark-bg & {
        color: #fff;
    }

    .item-preview & {
        margin: -0.2em 5.5em 1em 2.25em;
        transition: transform 0.6s ease-in-out;

        a:hover & {
            transform: translateX(-2.25em);
        }
    }
}
