.loader {
    margin: 3.75em auto;
    text-align: center;

    .loader-ico {
        width: 54px;
        height: 54px;
        margin: 0 auto;
        position: relative;

        svg {
            animation: 1.2s loadSpin infinite linear;
            transform-origin: 50% 50%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@keyframes loadSpin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
