.portfolio-page {
    position: relative;
    width: 100%;
    background-color: #F6F6F6;
    z-index: 1;
    min-height: 600px;
    opacity: 0;

    &.fade-in {
        opacity: 1;
        transition: opacity 0.45s ease-in-out;
    }

    p {
        line-height: 1.4;
    }

    .page-shadow {
        position: absolute;
        top: -1px;
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        height: 1px;
        box-shadow: 0 2px 4px 0 #ccc;
        z-index: 1;
    }

    &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        background-color: #F6F6F6;
    }

    &:before {
        left: -50%;
    }

    &:after {
        left: 100%;
    }

    @media only screen and (min-width: 600px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .shadow-holder {
        box-shadow: 0 2px 2px 0 #ddd;
    }
}

.portfolio-content {
    width: 100%;
    padding-top: 1.5em;

    .content-holder {
        width: 100%;
        padding-bottom: 2rem;

        &:last-child {
            padding-bottom: 3rem;
        }
    }

    .h3 {
        font-size: 1.33rem;
        font-weight: bold;
    }

    .bold {
        font-weight: bold;
    }

    .side-text {
        p:last-child {
            font-weight: bold;
            padding: 1rem 0;
            border-top: #666 solid 2px;
            border-bottom: #666 solid 2px;
        }
    }

    @media only screen and (min-width: 768px) {
        padding-top: 2.5em;

        .content-holder {
            display: flex;
            justify-content: space-between;
        }
    }

    .intro-area {
        width: calc(33.3333% - 36px);

        @media only screen and (max-width: 767px) {
            width: 100%;
        }

        h2 {
            font-size: 2.14em;
            font-weight: bold;

            @media only screen and (min-width: 768px) {
                margin-top: 0;
            }
        }

        h2, p {
            margin-bottom: 0.25rem;

            @media only screen and (max-width: 767px) {
                text-align: center;
            }
        }

        h2 + p {
            margin-top: 0;
        }
    }

    .content-area {
        width: calc(66.6666% - 18px);
        position: relative;
        overflow: hidden;

        @media only screen and (max-width: 767px) {
            width: 100%
        }
    }
}
