.skills-card {
    margin-bottom: 0.35rem;
    padding: 1rem;
    box-shadow: 0 2px 2px 0 #ddd;
    background-color: #fff;
    transition: transform 0.525s ease-in-out, opacity 0.525s ease-in-out;
    box-sizing: border-box;
    width: 100%;
    transform: translateY(1em);
    opacity: 0;

    &:nth-child(1) {
        transform: translateY(4em)
    }

    &:nth-child(2) {
        transform: translateY(3em);
    }

    &:nth-child(3) {
        transform: translateY(2em);
    }

    .tab-content.active & {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.6s;
    }
}

.tag-list {
    margin-left: -0.2rem;
    margin-right: -0.2rem;

    &:not(:first-child) {
        margin-top: 2rem;
    }

    & + .tag-list {
        margin-top: 0;
    }
}
