.tabs-holder {
    margin-top: 1rem;

    @media (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }
}

.tab-content {
    position: absolute;
    top: 0;

    &.active {
        z-index: 1;
        position: relative;
    }

    p {
        margin: 0.75rem 0 0 0;
    }
}

.key {
    position: relative;
    margin-top: 0.25rem;

    &:first-child {
        margin-top: 0.75rem;
    }

    span:not(:first-child) {
        margin-left: 0.75rem;
        display: inline-block;
    }
}

.lang,
.lib,
.tool,
.skill {
    display: inline-block;
    background-color: #1D2654;
    padding: 0.2rem 0.4rem 0.225rem 0.4rem;
    margin: 0.2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;

    &.keypoint {
        position: absolute;
        top: 0;
        left: 0;
        height: 1rem;
        width: 0.35rem;
        padding: 0;
        margin-left: 0;
        margin-top: 2px;
    }
}

.lang {
    background-color: #DC3232;
    position: relative;
    margin-right: 10px;
    padding-right: 0.15rem;

    &.keypoint {
        width: 0.175rem;

        &:after {
            right: -5px;
            border-width: 8px 0 8px 5px;
        }
    }

    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        right: -8px;
        border-style: solid;
        border-width: 13px 0 13px 8px;
        border-color: transparent transparent transparent #DC3232;
    }
}

.lib {
    background-color: #D63F24;
}

.tool {
    background-color: #F4E806;
    color: #2a2a2a;
}
