.tab-slide-btn {
    font-weight: bold;
    position: relative;
    width: 100%;
    padding: 0.35rem 0.5rem 0.5rem 0.5rem;
    margin-bottom: 0.35rem;
    text-align: left;
    box-shadow: 0 1px 0 0 #ddd;
    cursor: pointer;
    opacity: 0.9;
    border: none;
    font-size: 0.95rem;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:last-child {
        margin-right: 1px;
    }

    .button-slider-mob {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.45s ease-in-out;
        box-shadow: 0 2px 2px 0 #ddd;

        @media (min-width: 768px) {
            display: none;
        }
    }

    .button-slider {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(100% + 50px);
        transition: transform 0.45s ease-in-out;
        box-shadow: 0 1px 0 0 #ddd;

        @media (max-width: 767px) {
            display: none;
        }
    }

    &[aria-expanded="true"] {
        opacity: 1;

        .button-slider {
            transform: translate(49px, 0);
            transition-delay: 0.6s;
        }
    }

    &:focus .button-slider:before,
    &:focus .button-slider-mob:before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        border: 2px solid #9EC3FB;
    }

    &:after {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -51px;
        width: 51px;
        background-color: #f6f6f6;
    }

    &:focus:after {
        border-right: 2px solid #9EC3FB;
    }

    &:focus,
    &:hover {
        outline: none;
        opacity: 1;
    }

    &::-moz-focus-inner {
        border: 0;
    }

    span {
        position: relative;
        z-index: 1;
    }
}

// Tab buttons only (styles differ on mobile)
.tab-btn {
    @media (max-width: 767px) {
        // A second slider prevents unwanted transitions
        // on switching between mobile & desktop
        width: calc(50% - 4px);
        text-align: center;

        .button-slider-mob {
            height: calc(100% + 15px);
        }

        &[aria-expanded="true"] .button-slider-mob {
            transform: translate(0, 12px);
            transition-delay: 0.6s;
        }

        &:after {
            content: "";
            position: absolute;
            left: -1px;
            width: calc(100% + 2px);
            top: -17px;
            height: 16px;
            background-color: #f6f6f6;
        }

        &:focus:after {
            border-right: none;
            border-bottom: 2px solid #9EC3FB;
        }
    }
}

// Slider buttons only (styles differ on mobile)
.slider-btn {
    @media (max-width: 767px) {
        opacity: 1;
        padding: 0;
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        box-shadow: none;

        .button-slider-mob {
            background-color: #1D2654 !important;

            &:before {
                border-radius: 6px;
            }
        }

        .button-slider-mob,
        &:after {
            top: 11px;
            left: 11px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
        }

        &:after {
            top: 12px;
            left: 12px;
            width: 8px;
            height: 8px;
            opacity: 0;
            transition: opacity 0.45s ease-in-out;
            background-color: #fff;
        }

        &:focus:after {
            border: none;
        }

        &[aria-expanded="true"] {
            .button-slider-mob {
                transform: scale(2);

                &:before {
                    border-width: 1px;
                }
            }

            &:after {
                opacity: 1;
            }
        }

        span {
            display: none;
        }
    }
}
